<section class=schema>

  {{#if title}}
    <h1 class='title meta-prop'>{{title}}{{#if @key}}: <code>"{{@key}}"</code>{{/if}}</h1>
  {{/if}}


  {{#if $schema}}
    <p class='$schema prop'>Validate against: <a href={{schema}}>{{$schema}}</a></p>
  {{/if}}

  {{#if id}}
    <p class='id prop'>ID: <code>{{id}}</code></p>
  {{/if}}

  {{#if $ref}}
    <p>An instance of the schema at <a href={{$ref}}>{{$ref}}</a></p>
  {{/if}}

  {{#if type}}
    <p class='type prop'>Type(s): {{#each type}}<code>{{this}}</code> {{/each}}</p>
  {{/if}}

  {{#if description}}
    <p class='description meta-prop'>{{md description}}</p>
  {{/if}}

  {{#if format}}
    <p class='format meta-prop'>Format: {{format}}</p>
  {{/if}}

  {{#if multipleOf}}
    <p class='multipleOf numeric-prop'>Multiple of: <code>{{multipleOf}}</code></p>
  {{/if}}

  {{#if maximum}}
    <p class='maximum numeric-prop'>Maximum: <code>{{maximum}}</code></p>
  {{/if}}

  {{#if exclusiveMaximum}}
    <p class='exclusive-maximum numeric-prop'>Exclusive maximum: <code>{{exclusiveMaximum}}</code></p>
  {{/if}}

  {{#if minimum}}
    <p class='minimum numeric-prop'>Minimum: <code>{{minimum}}</code></p>
  {{/if}}

  {{#if exclusiveMinimum}}
    <p class='exclusive-minimum numeric-prop'>Exclusive minumum: <code>{{exclusiveMinimum}}</code></p>
  {{/if}}

  {{#if maxLength}}
    <p class='maxLength string-prop'>Max length: <code>{{maxLength}}</code></p>
  {{/if}}

  {{#if minLength}}
    <p class='minLength string-prop'>Min length: <code>{{minLength}}</code></p>
  {{/if}}

  {{#if pattern}}
    <p class='pattern string-prop'>Regular expression pattern: <code>{{pattern}}</code></p>
  {{/if}}

  {{#if maxItems}}
    <p class='max-items array-prop'>Max items: <code>{{maxItems}}</code></p>
  {{/if}}

  {{#if minItems}}
    <p class='min-items array-prop'>Min items: <code>{{minItems}}</code></p>
  {{/if}}

  {{#if uniqueItems}}
    <p class='unique-items array-prop'>Unique items: <code>{{uniqueItems.boolean}}</code></p>
  {{/if}}

  {{#if maxProperties}}
    <p class='max-properties object-prop'>Max properties: <code>{{maxProperties}}</code></p>
  {{/if}}

  {{#if minProperties}}
    <p class='min-properties object-prop'>Min properties: <code>{{minProperties}}</code></p>
  {{/if}}

  {{#if definitions}}
    <div class='definitions prop'>
      <h2>Definitions</h2>
      <ul>
        {{#each definitions}}
          <li>{{> schema this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if enum}}
    <div class='enum prop'>
      <h2>Allowed Values (`enum`)</h2>
      <ul>
        {{#each enum}}
          {{> schema this}}
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if required}}
    <div class='required object-prop'>
      <h2>Required</h2>
      <ul>
        {{#each required}}
        <li><code>{{this}}</code></li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if additionalItems}}
    <div class='additional-items array-prop'>
      <h2>Additional Items</h2>
      {{#if additionalItems.boolean}}
        <code>additionalItems.boolean</code>
      {{else}}
        {{> schema additionalItems}}
      {{/if}}
    </div>
  {{/if}}

  {{#if items}}
    <div class='items array-prop'>
      <h2>Items</h2>
      {{#if items.object}}
        {{> schema items}}
      {{else}}
        <ul>
          {{#each items}}
            <li>{{> schema this}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  {{/if}}

  {{#if additionalProperties}}
    <div class='additional-properties object-prop'>
      <h2>Additional Properties</h2>
      {{#if additionalProperties.boolean}}
        <code>{{additionalProperties.boolean}}</code>
      {{else}}
        {{> schema additionalProperties}}
      {{/if}}
    </div>
  {{/if}}

  {{#if properties}}
    <div class='properties object-prop'>
      <h2>Properties</h2>
      <ul>
        {{#each properties}}
          <li class=property>{{> schema this}}</li>
        {{/each}}
        {{#if patternProperties}}
          {{#each patternProperties}}
            <li class=pattern-property>{{> schema this}}</li>
          {{/each}}
        {{/if}}
      </ul>
    </div>
  {{/if}}

  {{#if dependencies}}
    <div class='dependencies object-prop'>
      <h2>Dependencies</h2>
      <ul>
        {{#each dependencies}}
          <li>
            {{#if this.object}}
              {{> schema this}}
            {{else}}
              {{this}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if allOf}}
    <div class='all-of prop'>
      <h2>All of these schemas must be matched (<code>allOf</code>)</h2>
      <ul>
        {{#each allOf}}
          <li>
            {{> schema this}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if anyOf}}
    <div class='any-of prop'>
      <h2>Any one or more of these schemas must be matched (<code>anyOf</code>)</h2>
      <ul>
        {{#each anyOf}}
          <li>{{>schema this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if oneOf}}
    <div class='one-of prop'>
      <h2>Exactly one of these schemas must be matched(<code>oneOf</code>)</h2>
      <ul>
        {{#each oneOf}}
          <li>{{> schema this}}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}

  {{#if not}}
    <div class='not prop'>
      <h2>Should not validate against this schema</h2>
      {{> schema not}}
    </div>
  {{/if}}

  {{#if default}}
    <div class='default meta-prop'>
      <h2>Default Value</h2>
      <pre>{{default}}</pre>
    </div>
  {{/if}}

</section>
